<div class="comment">
  <div class="voted-on">
    <div class="upvote-button">/\</div>
    <div class="downvote-button">\/</div>
  </div>
  <div class="entry">
    <p class="tagline"><%= link_to comment.user.username, comment.user %> <%= comment.upvotes - comment.downvotes %> points <%= ((Time.now - comment.created_at)/1.hours).round %> hours ago</p>
    <p class="content"><%= comment.content %></p>
    <ul class="buttons">
      <li>permalink</li>
      <li><%= link_to "reply", new_comment_comment_path(comment) %></li>
    </ul>
  </div>
  <% if not comment.comments.nil? %>
    <div class="children">
    <% comment.comments.each do |child| %>
      <%= render partial: 'comments/comment', locals: {comment: child} %>
    <% end %>
    </div>
  <% end %>
</div>
