<p id="notice"><%= notice %></p>

<p>
  <strong>Upvotes:</strong>
  <%= @comment.upvotes %>
</p>

<p>
  <strong>Downvotes:</strong>
  <%= @comment.downvotes %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @comment.parent %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
