<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :upvotes %><br>
    <%= f.number_field :upvotes %>
  </div>
  <div class="field">
    <%= f.label :downvotes %><br>
    <%= f.number_field :downvotes %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :self_text %><br>
    <%= f.text_area :self_text %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :is_self_post %><br>
    <%= f.check_box :is_self_post %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
