<div class="posts">
  <% @posts.each_with_index do |post, index| %>
  <div class="post">
    <span class="rank"><%= index+1 %></span>
    <div class="voted-on">
      <div class="upvote-button">/\</div>
      <div class="votes"><%= post.upvotes - post.downvotes %></div>
      <div class="downvote-button">\/</div>
    </div>
    <div class="thumbnail">thmb</div>
    <div class="entry">
      <p class="title">
        <% if post.is_self_post %>
          <%= link_to post.title, post %>
        <% else %>
          <%= link_to post.title, post.link %>
        <% end %>
      </p>
      <p class="tagline">submitted <%= ((Time.now - post.created_at)/1.hours).round %> hours ago by <%= link_to post.user.username, post.user %></p>
      <ul class="buttons">
        <li><%= link_to "comments", post %></li>
      </ul>
    </div>
  </div>
  <% end %>
</div>
