<div class="post full-view-post">
  <%= render partial: "votes/votes", locals: {votable: @post} %>
  <div class="thumbnail">thmb</div>
  <div class="entry">
      <% if @post.is_self_post %>
        <p class="title"><%= link_to @post.title, @post %></p>
      <% else %>
        <p class="title"><%= link_to @post.title, @post.link %></p>
      <% end %>
    <p class="tagline">submitted <%= ((Time.now - @post.created_at)/1.hours).round %> hours ago by <%= link_to @post.user.username, @post.user %></p>
      <% if @post.is_self_post %>
        <div class="self-text"><%= @post.self_text if @post.is_self_post %></div>
      <% end %>
    <ul class="buttons">
      <li><%= link_to "comments", @post %></li>
    </ul>
  </div>
</div>

<div class="comment-area">
  <div class="separator"></div>
  <% if logged_in? %>
    <%= render partial: 'comments/form', locals: {parent: @post} %>
  <% end %>

  <% @post.comments.each do |comment| %>
    <%= render partial: 'comments/comment', locals: {comment: comment} %>
  <% end %>
</div>
