<p id="notice"><%= notice %></p>

<p>
  <strong>Upvotes:</strong>
  <%= @post.upvotes %>
</p>

<p>
  <strong>Downvotes:</strong>
  <%= @post.downvotes %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Self text:</strong>
  <%= @post.self_text %>
</p>

<p>
  <strong>Link:</strong>
  <%= @post.link %>
</p>

<p>
  <strong>Is self post:</strong>
  <%= @post.is_self_post %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
